In [36]:
import pandas as pd
from io import StringIO
import numpy as np
data = ''''
1 0.25–1.5 33 36 60 bajo o medio carbono
2 0.25–0.75 55 57 74 bajo o medio carbono
2 0.875–1.5 33 36 60 bajo o medio carbono
4 0.25–1.5 65 100 115 medio carbono, forjado en frío
5 0.25–1.0 85 92 120 medio carbono, Q&T*
5 1.125–1.5 74 81 105 medio carbono, Q&T
5.2 0.25–1.0 85 92 120 martensita al bajo carbono, Q&T
7 0.25–1.5 105 115 133 aleación al medio carbono, Q&T
8 0.25–1.5 120 130 150 aleación al medio carbono, Q&T
8.2 0.25–1.0 120 130 150 martensita al bajo carbono, Q&T
'''

In [37]:
rows = np.array(data.split('\n'))[1:-1]
rows = np.array([row.split(' ', 5) for row in rows])
rows

array([['1', '0.25–1.5', '33', '36', '60', 'bajo o medio carbono'],
       ['2', '0.25–0.75', '55', '57', '74', 'bajo o medio carbono'],
       ['2', '0.875–1.5', '33', '36', '60', 'bajo o medio carbono'],
       ['4', '0.25–1.5', '65', '100', '115',
        'medio carbono, forjado en frío'],
       ['5', '0.25–1.0', '85', '92', '120', 'medio carbono, Q&T*'],
       ['5', '1.125–1.5', '74', '81', '105', 'medio carbono, Q&T'],
       ['5.2', '0.25–1.0', '85', '92', '120',
        'martensita al bajo carbono, Q&T'],
       ['7', '0.25–1.5', '105', '115', '133',
        'aleación al medio carbono, Q&T'],
       ['8', '0.25–1.5', '120', '130', '150',
        'aleación al medio carbono, Q&T'],
       ['8.2', '0.25–1.0', '120', '130', '150',
        'martensita al bajo carbono, Q&T']], dtype='<U31')

In [38]:
df = pd.DataFrame(
    rows[:, :], 
    columns=['Num SAE', 'intervalo diametro [in]', 'SP', 'SY', 'SU', 'Material']
)
df.info()
# df.to_csv('table_11_6.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Num SAE                  10 non-null     object
 1   intervalo diametro [in]  10 non-null     object
 2   SP                       10 non-null     object
 3   SY                       10 non-null     object
 4   SU                       10 non-null     object
 5   Material                 10 non-null     object
dtypes: object(6)
memory usage: 608.0+ bytes

In [39]:
df = pd.read_csv('table_11_6.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Num SAE                  10 non-null     float64
 1   intervalo diametro [in]  10 non-null     object
 2   SP                       10 non-null     int64
 3   SY                       10 non-null     int64
 4   SU                       10 non-null     int64
 5   Material                 10 non-null     object
dtypes: float64(1), int64(3), object(2)
memory usage: 608.0+ bytes

In [51]:
data = '''
4.6
4.8
5.8
8.8
9.8
10.9
12.9
M5–M36
M1.6–M16
M5–M24
M3–M36
M1.6–M16
M5–M36
M1.6–M36
225
310
380
600
650
830
970
240
340
420
660
720
940
1100
400
420
520
830
900
1040
1220
bajo o medio carbono
bajo o medio carbono
bajo o medio carbono
medio carbono, Q&T
medio carbono, Q&T
martensita al bajo carbono, Q&T
aleación, templada y revenida
'''
rows = np.array(data.split('\n'))[1:-1].reshape(6, 7)
rows
df = pd.DataFrame(
    rows[:, :],
).transpose()
df.columns=['num Clase', 'intervalo diametro [mm]', 'SP', 'SY', 'SU', 'material']

df.head()

  num Clase intervalo diametro [mm]   SP   SY   SU              material
0       4.6                  M5–M36  225  240  400  bajo o medio carbono
1       4.8                M1.6–M16  310  340  420  bajo o medio carbono
2       5.8                  M5–M24  380  420  520  bajo o medio carbono
3       8.8                  M3–M36  600  660  830    medio carbono, Q&T
4       9.8                M1.6–M16  650  720  900    medio carbono, Q&T

In [53]:
df.info()
df.to_csv('table_11_7.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   num Clase                7 non-null      object
 1   intervalo diametro [mm]  7 non-null      object
 2   SP                       7 non-null      object
 3   SY                       7 non-null      object
 4   SU                       7 non-null      object
 5   material                 7 non-null      object
dtypes: object(6)
memory usage: 464.0+ bytes

In [55]:
df = pd.read_csv('table_11_7.csv')
df.describe()

       num Clase          SP           SY           SU
count   7.000000    7.000000     7.000000     7.000000
mean    8.228571  566.428571   631.428571   761.428571
std     3.229404  276.144803   317.879881   320.750608
min     4.600000  225.000000   240.000000   400.000000
25%     5.300000  345.000000   380.000000   470.000000
50%     8.800000  600.000000   660.000000   830.000000
75%    10.350000  740.000000   830.000000   970.000000
max    12.900000  970.000000  1100.000000  1220.000000

In [1]:
import numpy as np
import pandas as pd

In [12]:
data = '''
1 0.0730 64 0.0527 72 0.0550 0.0028
2 0.0860 56 0.0628 64 0.0657 0.0039
3 0.0990 48 0.0719 56 0.0758 0.0052
4 0.1120 40 0.0795 48 0.0849 0.0066
5 0.1250 40 0.0925 44 0.0955 0.0083
6 0.1380 32 0.0974 40 0.1055 0.0101
8 0.1640 32 0.1234 36 0.1279 0.0147
10 0.1900 24 0.1359 32 0.1494 0.0200
12 0.2160 24 0.1619 28 0.1696 0.0258
1/4 0.2500 20 0.1850 28 0.2036 0.0364
5/16 0.3125 18 0.2403 24 0.2584 0.0581
3/8 0.3750 16 0.2938 24 0.3209 0.0878
7/16 0.4375 14 0.3447 20 0.3725 0.1187
1/2 0.5000 13 0.4001 20 0.4350 0.1600
9/16 0.5625 12 0.4542 18 0.4903 0.2030
5/8 0.6250 11 0.5069 18 0.5528 0.2560
3/4 0.7500 10 0.6201 16 0.6688 0.3730
7/8 0.8750 9 0.7307 14 0.7822 0.5095
1 1.0000 8 0.8376 12 0.8917 0.6630
'''
rows = np.array(data.split('\n'))[1:-1].astype(str)
rows = np.array([row.split(' ') for row in rows])
rows
df = pd.DataFrame(
    rows,
    columns = ['Tamaño', 'diametro mayor [in]', 'num Cuerdas', 'diametro menor [in]', 'num Cuerdas.1', 'diametro menor [in].1', 'At [in2].1']

)
df.head()

,Tamaño,diametro mayor [in],num Cuerdas,diametro menor [in],num Cuerdas.1,diametro menor [in].1,At [in2].1
0,1,0.0730,64,0.0527,72,0.0550,0.0028
1,2,0.0860,56,0.0628,64,0.0657,0.0039
2,3,0.0990,48,0.0719,56,0.0758,0.0052
3,4,0.1120,40,0.0795,48,0.0849,0.0066
4,5,0.1250,40,0.0925,44,0.0955,0.0083

In [6]:
df.columns

Index(['Tamaño', 'diametro mayor [in]', 'num Cuerdas', 'diametro menor [in]',
       'num Cuerdas.1', 'diametro menor [in].1', 'At [in2].1'],
      dtype='object')

In [13]:
At =np.array(
    '''
0.0026
0.0037
0.0049
0.0060
0.0080
0.0091
0.0140
0.0175
0.0242
0.0318
0.0524
0.0775
0.1063
0.1419
0.1819
0.2260
0.3345
0.4617
0.6057'''.split('\n')[1:]
)
At

array(['0.0026', '0.0037', '0.0049', '0.0060', '0.0080', '0.0091',
       '0.0140', '0.0175', '0.0242', '0.0318', '0.0524', '0.0775',
       '0.1063', '0.1419', '0.1819', '0.2260', '0.3345', '0.4617',
       '0.6057'], dtype='<U6')

In [14]:
df['At [in2]'] = At

In [18]:
df.columns.to_list()

['Tamaño',
 'diametro mayor [in]',
 'num Cuerdas',
 'diametro menor [in]',
 'num Cuerdas.1',
 'diametro menor [in].1',
 'At [in2].1',
 'At [in2]']

In [21]:
# put  At [in2] at thr third column
df = df[[
'Tamaño',
 'diametro mayor [in]',
 'num Cuerdas',
 'diametro menor [in]',
 'At [in2]',
 'num Cuerdas.1',
 'diametro menor [in].1',
 'At [in2].1',

]]

In [22]:
df.to_csv('table_11_1.csv', index=False)