In [36]:
import pandas as pd
from io import StringIO
import numpy as np
data = ''''
1 0.25–1.5 33 36 60 bajo o medio carbono
2 0.25–0.75 55 57 74 bajo o medio carbono
2 0.875–1.5 33 36 60 bajo o medio carbono
4 0.25–1.5 65 100 115 medio carbono, forjado en frío
5 0.25–1.0 85 92 120 medio carbono, Q&T*
5 1.125–1.5 74 81 105 medio carbono, Q&T
5.2 0.25–1.0 85 92 120 martensita al bajo carbono, Q&T
7 0.25–1.5 105 115 133 aleación al medio carbono, Q&T
8 0.25–1.5 120 130 150 aleación al medio carbono, Q&T
8.2 0.25–1.0 120 130 150 martensita al bajo carbono, Q&T
'''

In [37]:
rows = np.array(data.split('\n'))[1:-1]
rows = np.array([row.split(' ', 5) for row in rows])
rows

array([['1', '0.25–1.5', '33', '36', '60', 'bajo o medio carbono'],
       ['2', '0.25–0.75', '55', '57', '74', 'bajo o medio carbono'],
       ['2', '0.875–1.5', '33', '36', '60', 'bajo o medio carbono'],
       ['4', '0.25–1.5', '65', '100', '115',
        'medio carbono, forjado en frío'],
       ['5', '0.25–1.0', '85', '92', '120', 'medio carbono, Q&T*'],
       ['5', '1.125–1.5', '74', '81', '105', 'medio carbono, Q&T'],
       ['5.2', '0.25–1.0', '85', '92', '120',
        'martensita al bajo carbono, Q&T'],
       ['7', '0.25–1.5', '105', '115', '133',
        'aleación al medio carbono, Q&T'],
       ['8', '0.25–1.5', '120', '130', '150',
        'aleación al medio carbono, Q&T'],
       ['8.2', '0.25–1.0', '120', '130', '150',
        'martensita al bajo carbono, Q&T']], dtype='<U31')

In [38]:
df = pd.DataFrame(
    rows[:, :], 
    columns=['Num SAE', 'intervalo diametro [in]', 'SP', 'SY', 'SU', 'Material']
)
df.info()
# df.to_csv('table_11_6.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Num SAE                  10 non-null     object
 1   intervalo diametro [in]  10 non-null     object
 2   SP                       10 non-null     object
 3   SY                       10 non-null     object
 4   SU                       10 non-null     object
 5   Material                 10 non-null     object
dtypes: object(6)
memory usage: 608.0+ bytes

In [39]:
df = pd.read_csv('table_11_6.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Num SAE                  10 non-null     float64
 1   intervalo diametro [in]  10 non-null     object
 2   SP                       10 non-null     int64
 3   SY                       10 non-null     int64
 4   SU                       10 non-null     int64
 5   Material                 10 non-null     object
dtypes: float64(1), int64(3), object(2)
memory usage: 608.0+ bytes

In [51]:
data = '''
4.6
4.8
5.8
8.8
9.8
10.9
12.9
M5–M36
M1.6–M16
M5–M24
M3–M36
M1.6–M16
M5–M36
M1.6–M36
225
310
380
600
650
830
970
240
340
420
660
720
940
1100
400
420
520
830
900
1040
1220
bajo o medio carbono
bajo o medio carbono
bajo o medio carbono
medio carbono, Q&T
medio carbono, Q&T
martensita al bajo carbono, Q&T
aleación, templada y revenida
'''
rows = np.array(data.split('\n'))[1:-1].reshape(6, 7)
rows
df = pd.DataFrame(
    rows[:, :],
).transpose()
df.columns=['num Clase', 'intervalo diametro [mm]', 'SP', 'SY', 'SU', 'material']

df.head()

  num Clase intervalo diametro [mm]   SP   SY   SU              material
0       4.6                  M5–M36  225  240  400  bajo o medio carbono
1       4.8                M1.6–M16  310  340  420  bajo o medio carbono
2       5.8                  M5–M24  380  420  520  bajo o medio carbono
3       8.8                  M3–M36  600  660  830    medio carbono, Q&T
4       9.8                M1.6–M16  650  720  900    medio carbono, Q&T

In [53]:
df.info()
df.to_csv('table_11_7.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   num Clase                7 non-null      object
 1   intervalo diametro [mm]  7 non-null      object
 2   SP                       7 non-null      object
 3   SY                       7 non-null      object
 4   SU                       7 non-null      object
 5   material                 7 non-null      object
dtypes: object(6)
memory usage: 464.0+ bytes

In [55]:
df = pd.read_csv('table_11_7.csv')
df.describe()

       num Clase          SP           SY           SU
count   7.000000    7.000000     7.000000     7.000000
mean    8.228571  566.428571   631.428571   761.428571
std     3.229404  276.144803   317.879881   320.750608
min     4.600000  225.000000   240.000000   400.000000
25%     5.300000  345.000000   380.000000   470.000000
50%     8.800000  600.000000   660.000000   830.000000
75%    10.350000  740.000000   830.000000   970.000000
max    12.900000  970.000000  1100.000000  1220.000000